body {
	font-family: sans-serif;
	background-color:rgba(232,231,227,0.8);
	background-image: url("https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-position: left;
  	background-repeat: no-repeat;

  	background-attachment: fixed;
  	background-size: cover;
  }


.bg-nav  {
  background-color:rgba(232,231,227,0);


}

.bg-nav2  {
  background-color:rgba(232,231,227,1);


}

.bg-nav3  {
  background-color: rgba(255,255,255,0.5);


}

.jumbotron {
  padding: 25px;
  padding-bottom: 0px;
  margin-bottom: 0rem;
  background-color: rgba(51, 153, 102,0);
  text-align:left;
  font-family: 'Heebo', sans-serif;



}

@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron h1 {
        font-size: 5em;
    }
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 5.5em;
    }
   
    
}
h1{
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	color:#989898;

}

.navbar {

  padding: 0px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
}

.right {
  float: right;
  width: 55%;
}

.right5 {
  float: right;
  width: 65%;
}

.right2 {
  float: right;
  width: 30%; 
 
}
.right3 {
  text-align: center;
  
  position: absolute;
  left:22%;
 
}
.right4 {
  text-align: center;
  
  position: absolute;
  left:50%;
 
}
.bg-footer{
	background-color:rgba(232,231,227,1);
}

.nav-link:hover{
	color: rgba(51, 153, 102,0);
	text-decoration: underline;
}

.btn-outline-leaf {
  color: rgb(51, 153, 102);
  border-color: rgb(51, 153, 102);
}

.btn-outline-leaf:hover {
  color: white;
  background-color:rgb(51, 153, 102);
  border-color: rgb(51, 153, 102);
}

.card-title{
	font-family: 'Heebo', sans-serif;
	font-weight:500;
	padding:0px;
}
.lead{
	font-family: 'Heebo', sans-serif;
	
	padding:0px;
}

.text-green{
	color:rgb(51, 153, 102);
	font-size:15px;
}

h4{
	
	font-weight:900;
	font-size:20px;
}

hr{
	border-top: 1px solid #B0B0B0;
}

.card-par{
	font-size:14px;
	font-weight:300;
  padding-right:50px;
  padding-left:50px;
}

.card{
	background-color: rgba(255,255,255,0.5);
	color:rgb(72,72,72);
	
}

.addcourse{
  background-color:rgba(233,232,228,0.8);
  color:rgb(72,72,72);
}



.navbar-nav{
	text-align: right;
	padding-right:10px;
}


.paragraph{
  height:500px;
}

.coursedetails{
  font-size: 12px;
}

.courseheaders{
  font-size:13px;
}

.text-highlight{
  color:rgb(51, 153, 102);
  font-size:15px;
  font-weight: 500;
  
}


.table2{
  table-layout: fixed ;
  width: 100% ;
}

.btn-leaf:hover {
  color: rgb(51, 153, 102);
  border-color: rgb(51, 153, 102);

  background-color:white;
  
}
.btn-leaf {
  color:white;
  border-color: rgb(51, 153, 102);

  background-color:rgb(51, 153, 102);
  
}

.btn-leaf-outline {
  color: black;
  border-color: rgb(51, 153, 102);
  padding:3px;
  font-size: 12px;
}

.btn-leaf-outline:hover {
  color: white;
  background-color:rgb(51, 153, 102);
  border-color: rgb(51, 153, 102);
}

.card-body{
  padding:1.25rem
}

.carousel-control-prev-icon{
  fill: green)}

.btn-leaf2:hover {
  color: rgb(51, 153, 102);
  border-color: rgb(51, 153, 102);

  background-color:white;
  
}
.btn-leaf2 {
  color:white;
  font-size:14px;
  border-color: rgb(51, 153, 102);

  background-color:rgb(51, 153, 102);
  margin-bottom:10px;
  
}